<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908781748718-535r3hq2n0v7qksfuklqbar28v97i610.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908781748718-535r3hq2n0v7qksfuklqbar28v97i610</string>
	<key>API_KEY</key>
	<string>AIzaSyDkpmdKPEniwa1zR9HDsJVeQV--vlulCcM</string>
	<key>GCM_SENDER_ID</key>
	<string>908781748718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naik5500-a06.naik5500-final</string>
	<key>PROJECT_ID</key>
	<string>covidscreening-da380</string>
	<key>STORAGE_BUCKET</key>
	<string>covidscreening-da380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908781748718:ios:4b828add54c8c75c7cceff</string>
</dict>
</plist>